*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: brown;

}

input{
    padding: 12px 20px;
    background-color: black;
    color: #fff;
    text-align: center;
    margin-left: 40%;
    margin-top: 20%;
    border-radius: 5px;
    border: solid 1px #fff;
}

button{
    padding: 12px 20px;
    background-color: black;
    color: #fff;
    text-align: center;
    margin-top: 20%;
    border-radius: 5px;
    border: solid 1px #fff;
}

button:hover{
    border: solid 1px blue;
    background-color: #fff;
    color: #111;
}

input:hover{
    border: solid 1px blue;
    background-color: #fff;
    color: #111; 
}

h1{
    text-align: center;
    margin-top: 20px;
    color: #fff;
}
